/* Overlay cho spinner */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Đảm bảo overlay trên cùng */
  }
  